@using Docs.Core

<ul class="nav nav-list">
    @foreach (var topic in Topic.GetTopics("~/docs"))
    {
        <li><h4>@topic.Title</h4>
            @if (topic.SubTopics.Any())
            {
                <ul>
                    @foreach (var subTopic in topic.SubTopics)
                    {
                        <li><a href="@subTopic.Url">@subTopic.Title</a></li>
                    }
                </ul>
            }
        </li>
    }
    <li>
        <h4>NuGet</h4>
        <ul>
            <li><a href="https://docs.nuget.org/create/nuspec-reference">Nuspec Reference</a></li>
            <li><a href="https://docs.nuget.org/consume/nuget-config-file">NuGet Config File</a></li>
            <li><a href="https://docs.nuget.org/docs/reference/nuget-config-settings">NuGet Config Settings</a></li>
            <li><a href="https://docs.nuget.org/consume/nuget-config-settings">NuGet Commandline Reference</a></li>
            <li><a href="https://docs.nuget.org/consume/package-manager-console-powershell-reference">NuGet Package Manager Console PowerShell Reference</a></li>
            <li><a href="https://docs.nuget.org">NuGet Official Docs</a></li>
            <li><a href="https://status.nuget.org">NuGet Service Status</a></li>
        </ul>
    </li>
</ul>
