<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false" />
    </configSections>
  
  
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/error">
      <error statusCode="404" redirect="~/404" />
    </customErrors>
    
    
    
  <pages>
            <namespaces>
                <add namespace="Cassette.Views" />
            </namespaces>
        </pages><httpModules>
            <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
        </httpModules><httpHandlers>
            <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
        </httpHandlers></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Default.cshtml" />
        <add value="Default.markdown" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      
    <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" /></modules>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/Error" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Legacy URL - Start-Here - MyGet FAQ" stopProcessing="true">
          <match url="^docs/start-here/myget-faq" />
          <action type="Redirect" url="https://docs.myget.org/docs/reference/faq" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
    
  <handlers>
            <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
        </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      
      
    <dependentAssembly><assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly><dependentAssembly><assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.ClientOnly" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.4.0" newVersion="1.4.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<!-- For configuration options: http://getcassette.net/documentation/v2/web-config --><cassette /></configuration>