<div id="nugetoverview" class="overview">
    <ol>
        <li>NuGet Reference
            <ol>
                <li><a href="http://docs.nuget.org/docs/reference/nuspec-reference">Nuspec Reference</a></li>
                <li><a href="http://docs.nuget.org/docs/reference/nuget-config-file">NuGet Config File</a></li>
                <li><a href="http://docs.nuget.org/docs/reference/nuget-config-settings">NuGet Config Settings</a></li>
                <li><a href="http://docs.nuget.org/docs/reference/command-line-reference">NuGet Commandline Reference</a></li>
                <li><a href="http://docs.nuget.org/docs/reference/package-manager-console-powershell-reference">NuGet Package Manager Console PowerShell Reference</a></li>
                <li><a href="http://docs.nuget.org">NuGet Official Docs</a></li>
                <li><a href="http://status.nuget.org">NuGet Service Status</a></li>
            </ol>
        </li>
    </ol>
</div>