@using Docs.Core

<div id="overview" class="overview">
    <ol>
        @foreach (var topic in Topic.GetTopics("~/docs")) {
            <li>
            @topic.Title
            @if (topic.SubTopics.Any()) {
                <ol>
                    @foreach (var subTopic in topic.SubTopics) {
                        <li><a href="@subTopic.Url">@subTopic.Title</a></li>
                    }
                </ol>
            }
            </li>
        }
        <li>
            MyGet Reference
            <ol>
                <li><a href="http://blog.myget.org">MyGet Blog</a></li>
                <li><a href="http://status.myget.org">MyGet Service Status</a></li>
            </ol>
        </li>
    </ol>
</div>