@using Docs.Core
@{ Page.Title = "MyGet Documentation"; }

<h1>Welcome to MyGet Docs</h1>

<p>
    MyGet allows you to create and host your own NuGet feed. Include packages from the official NuGet feed or upload your own NuGet packages.
    Compatible with NuGet, the Visual Studio Package Manager Console, Orchard, SymbolSource and many more. This topic 
    lists documentation that will help you use MyGet, create your own MyGet feed and incorporate MyGet into your development workflow.
</p>

<p>
    We have a few sections answering some Frequently Asked Questions, but if your question is not listed, 
    or you feel the answer we give here is not satisfying, feel free to <a href="http://www.myget.org/support">contact us</a> for further assistance.
</p>

<ol class="topics">
    @foreach (var topic in Topic.GetTopics("~/docs"))
    {
        <li class="topic">
            <h2>@topic.Title</h2>
            @if (topic.SubTopics.Any())
            {
                <ol class="subTopics">
                    @foreach (var subTopic in topic.SubTopics)
                    {
                        <li class="subTopic">
                            <h3><a href="@subTopic.Url">@subTopic.Title</a></h3>
                        </li>
                    }
                </ol>
            }
        </li>
    }
</ol>
