<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off" defaultRedirect="~/error">
            <error statusCode="404" redirect="~/404" />
        </customErrors>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.cshtml" />
                <add value="Default.markdown" />
            </files>
        </defaultDocument>
        <modules runAllManagedModulesForAllRequests="true" />
        <httpErrors errorMode="Custom" >
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" path="/404" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1"/>
            <error statusCode="500" path="/Error" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Legacy URL - Start-Here - MyGet FAQ" stopProcessing="true">
                    <match url="^docs/start-here/myget-faq" />
                    <action type="Redirect" url="http://docs.myget.org/docs/reference/faq" redirectType="Permanent" />
                </rule>
				
                <rule name="Redirect to HTTP" enabled="true" stopProcessing="true">
                    <match url=".*" negate="false" />
                    <action type="Redirect" url="http://{HTTP_HOST}{REQUEST_URI}" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
